@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


:root {
    --main-bg-color: rgb(19, 25, 30);
}

.fbl-gfx-container{
    background-color: var(--main-bg-color); 
}

.fbl-plotter-container{
    position: absolute;
    left: 0; 
    width: 100%; 
    /*top: 28px; 
    padding-top:28px;*/
    height:calc(100%);
    background-color: var(--main-bg-color); 
    overflow:hidden;
}

.fbl-plotter-container h2{
    font-size: 1rem;
}

#fbl-vis-gfx{
    position: absolute;
    left: 0; 
    width: 100%; 
    /*top: 28px; 
    padding-top:28px;*/
    height:calc(100%);
    background-color: var(--main-bg-color); 
    overflow:hidden;
}

#fbl-gfx-navbar{
    color: black;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bdbdbd;
    height: 28px !important;
    font-size:13px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    overflow:hidden;
    z-index: 9999;
    padding:0;
}

#fbl-gfx-navbar .dropdown-item {
    font-size:13px;
}

html {
    height: 100%;
}

body {
    /* overflow: hidden;
    background-color: var(--main-bg-color);  */
    /* font-family: 'Titillium Web', sans-serif; */
    height: 100%;
}

.fbl-path{
    position: absolute;
    top: 90%;
    left: 5%;
    color: white;
    text-shadow: 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000, 1px 1px 8px #000000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

.fbl-path a{
    color: #e4ddab;
    }

.fbl-path a:hover {
    color: #b34a00;
}


#graph-container {
top: 0;
bottom: 0;
left: 0;
right: 0;
position: absolute;
}
.sigma-tooltip {
max-width: 400px;
max-height: 800px;
background-color: rgb(249, 247, 237);
box-shadow: 0 2px 6px rgba(0,0,0,0.3);
border-radius: 6px;
top: 2% !important;
left: 2% !important;
}
.sigma-tooltip-header {
font-variant: small-caps;
font-size: 120%;
color: #437356;
border-bottom: 1px solid #aac789;
padding: 10px;
}
.sigma-tooltip-body {
padding: 10px;
}
.sigma-tooltip-body th {
color: #999;
text-align: left;
}
.sigma-tooltip-footer {
padding: 10px;
border-top: 1px solid #aac789;
}
.sigma-tooltip > .arrow {
border-width: 10px;
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}
.sigma-tooltip.top {
margin-top: -12px;
}
.sigma-tooltip.top > .arrow {
left: 50%;
bottom: -10px;
margin-left: -10px;
border-top-color: rgb(249, 247, 237);
border-bottom-width: 0;
}
.sigma-tooltip.bottom {
margin-top: 12px;
}
.sigma-tooltip.bottom > .arrow {
left: 50%;
top: -10px;
margin-left: -10px;
border-bottom-color: rgb(249, 247, 237);
border-top-width: 0;
}
.sigma-tooltip.left {
margin-left: -12px;
}
.sigma-tooltip.left > .arrow {
top: 50%;
right: -10px;
margin-top: -10px;
border-left-color: rgb(249, 247, 237);
border-right-width: 0;
}
.sigma-tooltip.right {
margin-left: 12px;
}
.sigma-tooltip.right > .arrow {
top: 50%;
left: -10px;
margin-top: -10px;
border-right-color: rgb(249, 247, 237);
border-left-width: 0;
}




.qtip-bootstrap-neurogfx{
	/** Taken from Bootstrap body */
	font-size: 14px;
	line-height: 20px;
	color: #3a4615;

	/** Taken from Bootstrap .popover */
	padding: 1px;
	background-color: #b7e027;
	border: 1px solid #b7e027;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.qtip-bootstrap-neurogfx .qtip-titlebar{
    /** Taken from Bootstrap .popover-title */
    padding: 8px 14px;
    margin: 0;
    font-weight: normal;
    line-height: 18px;
    background-color: #b7e027;
    border-bottom: 1px solid #d0e87a;
    font-family:'Rajdhani', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.qtip-bootstrap-neurogfx .qtip-titlebar .qtip-close{
    /**
        * Overrides qTip2:
        * .qtip-titlebar .qtip-close{
        *   [...]
        *   right: 4px;
        *   top: 50%;
        *   [...]
        *   border-style: solid;
        * }
        */
    right: 11px;
    top: 45%;
    border-style: none;
}

.qtip-bootstrap-neurogfx .qtip-content{
    /** Taken from Bootstrap .popover-content */
    padding: 9px 14px;
    font-family:'Rajdhani', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #1e2605;
}

.qtip-bootstrap-neurogfx .qtip-icon{
    /**
        * Overrides qTip2:
        * .qtip-default .qtip-icon {
        *   border-color: #CCC;
        *   background: #F1F1F1;
        *   color: #777;
        * }
        */
    background: transparent;
}

    .qtip-bootstrap-neurogfx .qtip-icon .ui-icon{
        /**
            * Overrides qTip2:
            * .qtip-icon .ui-icon{
            *   width: 18px;
            *   height: 14px;
            * }
            */
        width: auto;
        height: auto;

        /* Taken from Bootstrap .close */
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

    .qtip-bootstrap-neurogfx .qtip-icon .ui-icon:hover{
        /* Taken from Bootstrap .close:hover */
        color: #000000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.4;
        filter: alpha(opacity=40);
    }


.NeuGFX-overlay {
    position: fixed;
    left: 1%;
    right: 1%;
    font-size: 13px;
    color: white;
    background-color: rgba(0,0,0,1); 
    overflow-x: hidden;
    border-radius: 16px;
    filter: none;
    -webkit-filter: none;
}

#modelHeading {
    display:block;
}

#heading, #statesHeading, #paramsHeading {
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

#stateDiv, #paramsDiv {
    width: 15%;
}

#stateTable, #paramsTable {
    height: 300px;
    overflow-y: auto;
}

.trEntry {
    padding: 10px 10px 10px 10px;
}

.tdEntry {
    color: white;
    width: 50%;
    vertical-align: middle !important;
}

.inputDiv {
    padding: 10px 10px 10px 10px;
}

.figCaption {
    text-align: center;
    font-style: italic;
    /* font-size: smaller; */
    margin: 5%;
    /* padding: 10%; */
}

.des {
    font-family: verdana; 
    color: #ffffff;
}

#descriptionRow {
    height: 100%;
    overflow-y: auto;
    font-size: 15px;
    margin-top: 5%;
}

/* .NeuGFX-overlay-row {
    display: flex;
}

.NeuGFX-overlay-column {
    flex: 32%;
    padding: 16px;
} */

.is-blurred {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: 0.5s;
}


#sliderRange {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #30473c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: rgb(143, 226, 146);
    cursor: pointer;
}

#sliderRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(143, 226, 146);
    cursor: pointer;
}

