@import url('https://fonts.googleapis.com/css?family=Rajdhani');

:root {
    --main-bg-color: rgb(21, 22, 21);
}

.fbl-gfx-container{
    background-color: var(--main-bg-color); 
}

.fbl-plotter-container{
    position: absolute;
    left: 0; 
    width: 100%; 
    /*top: 28px; 
    padding-top:28px;*/
    height:calc(100%);
    background-color: var(--main-bg-color); 
    overflow:hidden;
}

.fbl-plotter-container h2{
    font-size: 1rem;
}

#fbl-vis-gfx{
    position: absolute;
    left: 0; 
    width: 100%; 
    /*top: 28px; 
    padding-top:28px;*/
    height:calc(100%);
    background-color: var(--main-bg-color); 
    overflow:hidden;
}

#fbl-gfx-navbar{
    color: black;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #bdbdbd;
    height: 28px !important;
    font-size:13px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    overflow:hidden;
    z-index: 9999;
    padding:0;
}

#fbl-gfx-navbar .dropdown-item {
    font-size:13px;
}

body {
    overflow: hidden;
    background-color: var(--main-bg-color); 
}

.fbl-path{
    position: absolute;
    top: 90%;
    left: 5%;
    color: white;
}

.fbl-path a{
    color: #e4ddab;
}

.fbl-path a:hover {
    color: #b34a00;
}